/* NAVBAR
================================== */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: #333;
  padding: 20px 10px;
  text-transform: uppercase;
}
nav li.has_submenu:hover > a,
nav a:hover {
  background: inherit;
  background-color: #1fb7a6;
  color: #ffffff;
}
nav > ul {
  text-align: center;
}
nav > ul ul {
  text-align: left;
}
nav > ul > li {
  display: inline-block;
  position: relative;
  margin: 0 -2px;
}
nav > ul li a {
  display: block;
  -moz-transition: 0.2s all ease-out;
  -ms-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-transition: 0.2s color ease-out;
}
nav > ul ul li {
  position: relative;
  width: 100%;
}
nav > ul ul li a {
  border-bottom: 1px solid #EEE;
  min-width: 220px;
  max-width: 250px;
  padding: 14px 16px;
}
nav ul ul,
nav ul ul ul {
  visibility: hidden;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-transition: 0.2s color ease-out;
  -webkit-transition: 0.2s top ease-out;
  -webkit-transition: 0.2s left ease-out;
  -moz-transition: 0.2s all ease-out;
  -ms-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}
nav ul ul {
  border-top: 5px solid #1fb7a6;
  background-color: #FFF;
  width: 220px;
  position: absolute !important;
  top: 150%;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 99999;
}
nav ul ul ul {
  left: 130%;
  top: -5px;
}
nav > ul > li:hover > ul,
nav > ul ul > li:hover > ul {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
}
nav > ul > li:hover > ul {
  top: 96%;
}
nav > ul ul > li:hover > ul {
  left: 100%;
}
nav > ul ul li.has_submenu {
  position: relative;
}
nav > ul li.has_submenu a {
  padding-right: 36px;
  position: relative;
}
nav > ul > li.has_submenu > a:after,
nav > ul li.has_submenu > ul li.has_submenu > a:after {
  position: absolute !important;
  top: 50%;
  right: 12px;
  bottom: auto;
  left: auto;
  z-index: 1;
  content: "";
  width: 0;
  height: 0;
}
nav > ul > li.has_submenu > a:after {
  background: url(../images/mini-arrow-menu.png) no-repeat scroll right bottom;
  height: 15px;
  top: 17px;
  width: 20px;
}
nav > ul > li.has_submenu:hover > a:after {
  border-top-color: #FFF;
}
nav > ul li.has_submenu > ul li.has_submenu > a:after {
  background: url(../images/mini-arrow-menu.png) no-repeat scroll left top;
  height: 20px;
  top: 15px;
  width: 15px;
  right: 10px;
}
nav > ul li.has_submenu > ul li.has_submenu:hover > a:after {
  border-left-color: #FFF;
}
#mobile-menu-button {
  border: medium none;
  display: none;
  font-size: 22px;
  margin-left: -15px;
  padding: 6px 0 0;
  text-align: center;
  width: 48px;
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
}
