/* 1.1 BASIC
================================== */
:root{
  --gpr-color-verde:#1fb7a6;
}



body {
  overflow-x: hidden;
  font-family: "Roboto", arial, helvetica, sans-serif;
  color: #555555;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  padding: 0 !important;
}
#page-container {
  overflow: hidden;
}
/* 1.1.1 RIGHT BUTTON (RETURN TOP PAGE, EMAIL CONTACT)
================================== */
.fixed-button,
.fixed-button:after {
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}
.fixed-button {
  color: rgba(255, 255, 255, 0.5) !important;
  background-color: rgba(24, 139, 126, 0.5);
  position: fixed;
  bottom: 90px;
  right: 10px;
  font-size: 24px;
  height: 46px;
  width: 46px;
  text-align: center;
  padding-top: 4px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.fixed-button.email {
  bottom: 10px;
}
.fixed-button.top {
  right: -70px;
}
.fixed-button.top.active {
  right: 10px;
}
.fixed-button:hover {
  color: #ffffff !important;
  background-color: #188b7e;
}
.fixed-button:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: absolute !important;
  top: 14px;
  right: -6px;
  bottom: auto;
  left: auto;
  z-index: 1;
  border-left: 6px solid rgba(24, 139, 126, 0.5);
}
.fixed-button:hover:after {
  border-left-color: #188b7e;
}
/* .fixed-button */
/* 1.1.2 FORM FIELD STYLE
================================== */
.form-control {
  border: 1px solid #E5E5E5;
  font-size: 15px;
  height: 36px;
  padding: 7px 12px 8px;
  -webkit-box-shadow: 0 0 0 4px rgba(236, 236, 236, 0.3);
  -moz-box-shadow: 0 0 0 4px rgba(236, 236, 236, 0.3);
  box-shadow: 0 0 0 4px rgba(236, 236, 236, 0.3);
  -webkit-border-radius: 1px;
  -khtml-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
.form-control:focus {
  border: 1px solid #1fb7a6;
  background-color: #FEFEFE;
  -webkit-box-shadow: 0 0 0 4px rgba(89, 227, 211, 0.1);
  -moz-box-shadow: 0 0 0 4px rgba(89, 227, 211, 0.1);
  box-shadow: 0 0 0 4px rgba(89, 227, 211, 0.1);
}
.form-control:hover {
  border-color: #d8d8d8;
  -webkit-box-shadow: 0 0 0 4px rgba(226, 226, 226, 0.3);
  -moz-box-shadow: 0 0 0 4px rgba(226, 226, 226, 0.3);
  box-shadow: 0 0 0 4px rgba(226, 226, 226, 0.3);
}
/* 1.1.3 RIGHT BOX GREY (CONTAINER)
================================== */
.right-box {
  background-color: #FAFAFA;
  border: 1px solid #E5E5E5;
  padding: 16px;
  margin-bottom: 36px;
}
.right-box .search-button {
  width: 100%;
  margin-top: 10px;
}
.right-box .price {
  text-align: center;
}
.right-box label {
  font-weight: 100;
}
.right-box .space-div {
  margin-bottom: 16px;
}
.right-box .space-div:last-child {
  margin-bottom: 0;
}
/* 1.1.4 COLOR OPTION DROPDOWN
===================================================*/
.dropdown .carat:after {
  border-top-color: #1fb7a6;
}
.dropdown.open .carat {
  background-color: #1fb7a6;
  border-left-color: #1fb7a6;
}
.dropdown li.hover,
.dropdown li.focus,
.dropdown li.active {
  background-color: #1fb7a6;
}
.dropdown.open {
  border-color: #1fb7a6;
  -webkit-box-shadow: 0 0 0 4px rgba(89, 227, 211, 0.1);
  -moz-box-shadow: 0 0 0 4px rgba(89, 227, 211, 0.1);
  box-shadow: 0 0 0 4px rgba(89, 227, 211, 0.1);
}
/* 1.1.5 SLIDER PRICE
===================================================*/
.price-slider.price #price-value-min::after,
.price-slider.price #price-value-max::after {
  border-left-color: #1fb7a6;
}
.price-slider.price #price-value-max::after {
  border-right-color: #1fb7a6;
}
.price-slider.price #price-value-min,
.price-slider.price #price-value-max {
  background-color: #1fb7a6;
}
.noUi-connect {
  background-color: #2ddcc8;
}
.noUi-horizontal .noUi-handle {
  background-color: #1fb7a6;
}
/* 1.1.6 LABELAUTY SCRIPT
=================================================== */
input.labelauty + label > span.labelauty-checked-image {
  background-color: #1fb7a6;
  border-color: #188b7e;
}
input.labelauty:hover + label > span.labelauty-checked-image {
  background-color: #188b7e;
  border-color: #188b7e;
}
/* 1.1.7 DROPZONE
=================================================== */
.dropzone .dz-default.dz-message:after {
  color: #22c8b6;
}
/* 1.1.8 DEATH TEXT EDITOR
=================================================== */
.controls .button-tootlbar:hover {
  background-color: #1fb7a6;
}
.editor:hover,
.editor:focus {
  border-color: #1fb7a6;
}
/* 1.1.9 FOTORAMA SLIDE
=================================================== */
.fotorama__arr {
  background-color: rgba(45, 220, 200, 0.8);
}
/* 1.1.10 SKILL BAR
=================================================== */
.skillbar-bar {
  background-color: rgba(24, 139, 126, 0.5);
}
.skillbar-title {
  background-color: rgba(16, 96, 87, 0.9);
}
/* 1.1.11 FLIPCLOCK
=================================================== */
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-dot {
  background-color: #1fb7a6;
}


