/* 1.3 NAVBAR
================================== */
header {
  /*font-size: 14px;*/
  border-top: none !important;
}
header nav {
  font-size: 1.6rem;
}
.fixed-header #header-container-box {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 99;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
}
.info {
  background-color: #1fb7a6;
}
.info a {
  height: 44px;
  display: block;
  float: left;
  padding: 10px 12px 0 34px;
  border-right: 1px solid #1ca696;
  border-left: 1px solid #1ca696;
  position: relative;
  color: #ffffff;
  margin-left: -1px;
}
.info a:hover {
  background-color: #188b7e;
  color: #ffffff;
}
.info a .icon {
  position: absolute !important;
  top: 13px;
  right: auto;
  bottom: auto;
  left: 14px;
  z-index: 1;
}
.info #login-pan a {
  float: right;
}
.logo {
  background-color: #FFF;
  text-align: center;
  padding: 14px 0;
}
/* MENU LINE
================================== */
.menu-line,
.menu-color-line,
.menu-dual-line,
.menu-navbar {
  border-top: 1px solid #E9E9E9;
  background-color: #FFF;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu-dual-line .logo,
.menu-line .logo {
  float: left;
  padding: 8px 0;
}
.menu-line nav {
  float: right;
}
/* MENU DUAL LINE
================================== */
.menu-dual-line nav {
  float: right;
  margin-top: 10px;
}
/* MENU COLOR LOGO
================================== */
.menu-color-line {
  border-top: none;
}
.menu-color-line .info a {
  float: right;
  height: 41px;
  margin: 9px 3px;
  border: 1px solid #1ca696;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.menu-color-line .info a:hover {
  background-color: #1eae9e;
}
.menu-color-line .logo-withe a {
  float: left;
  padding: 0;
  border: none;
}
.menu-color-line .logo-withe a:hover {
  background-color: transparent;
}
/* .menu-color-line */
/* BASE
================================== */
.fixed-header .header-margin-base {
  margin-top: 211px;
}
/* LINE
================================== */
.fixed-header .header-margin-line {
  margin-top: 56px;
}
/* DUAL LINE
================================== */
.fixed-header .header-margin-dual-line {
  margin-top: 118px;
}
/* COLOR STYLE
================================== */
.fixed-header .header-margin-color-line {
  margin-top: 116px;
}


@media (max-width: 1050px) {
  header nav {
    font-size: 1.35rem;
  }
}
