/* COLOR BASE VARIANT
============================== */
/* BUTTON RIGHT BOTTOM 
  (RETURN TOP PAGE, EMAIL CONTACT) 
================================== */
.fixed-button {
  background-color: rgba(20, 143, 119, 0.5);
}
.fixed-button:hover {
  background-color: #148f77;
}
.fixed-button:after {
  border-left: 6px solid rgba(20, 143, 119, 0.5);
}
.fixed-button:hover:after {
  border-left-color: #148f77;
}
/* .fixed-button */
/* FORM FIELD STYLE
================================== */
.form-control:focus {
  border-color: #1abc9c;
  -webkit-box-shadow: 0 0 0 4px rgba(85, 231, 202, 0.1);
  -moz-box-shadow: 0 0 0 4px rgba(85, 231, 202, 0.1);
  box-shadow: 0 0 0 4px rgba(85, 231, 202, 0.1);
}
#service {
  color: #ffffff;
  /* .content-box */
}
#service .content-box {
  color: #148f77;
}
#service .content-box:hover .icon-box {
  color: #148f77;
}
/* #service */
/* SPINNER HOME
================================== */
#spinner-show {
  color: #1abc9c;
}
/* #spinner-show */
/* SUBMIT SECTION
================================== */
#submit-property {
  color: #ffffff;
}
#submit-property .overlay {
  background-color: rgba(26, 188, 156, 0.73);
}
#recent-listed {
  color: #ffffff;
  /* NAVIGATION SLIDE
	================================== */
}
#recent-listed .nav-box a:hover {
  background-color: rgba(26, 188, 156, 0.6);
}
/* FEEDBACK
================================== */
.feeddback-user {
  /* .info-user */
  /* message */
}
.feeddback-user .info-user:after {
  border-right-color: #1abc9c;
}
.feeddback-user .message {
  border-left-color: #1abc9c;
}
.feeddback-user .message .rating {
  color: #1abc9c;
}
.feeddback-user .message .more-button {
  color: #1abc9c;
}
/* .feeddback-user */
/* BREADCRUMB
================================== */
#breadcrumb .breadcrumb a:hover,
#breadcrumb .breadcrumb a:focus {
  background-color: #1abc9c;
  color: #ffffff;
}
/* BUTTON
================================== */
.btn-default {
  border-color: #1abc9c;
  background-color: #1abc9c;
  color: #ffffff;
}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover {
  border-color: #1abc9c;
}
.btn-link.active,
.btn-link.focus,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  color: #0e6252;
  border-color: #0e6252;
}
.open > .dropdown-toggle.btn-reverse {
  background-color: #1abc9c;
}
.btn-reverse {
  border-color: #1abc9c;
}
.btn-reverse.active,
.btn-reverse.focus,
.btn-reverse:active,
.btn-reverse:focus,
.btn-reverse:hover {
  border-color: #1abc9c;
  background-color: #1abc9c;
  color: #ffffff;
}
/* FOOTER
================================== */
#footer-page {
  color: #ffffff;
}
#footer-page a {
  color: #ffffff;
}
#footer-page a:hover,
#footer-page a:focus {
  color: #55e7ca;
}
#footer-page .social-icons li a {
  border-color: #1abc9c;
  color: #aef4e6;
}
#footer-page .social-icons li a:hover {
  color: #1abc9c;
}
#footer-page .credits {
  background-color: #148f77;
}
#footer-page .credits-text b {
  color: #55e7ca;
}
#footer-page .newsletter-box .form-control {
  border-color: #0e6252;
}
#footer-page .newsletter-box .send {
  color: #55e7ca;
}
#footer-page .newsletter-box .send:hover {
  color: #148f77;
}
#footer-page .newsletter-box .btn-default:hover {
  border-color: #0e6252;
}
/* end #footer-page */
/* HEADER PAGE
================================== */
#header-page {
  /* .skyline */
}
#header-page .skyline .header-text .title {
  background-color: rgba(26, 188, 156, 0.6);
  color: #ffffff;
}
#header-page .skyline .header-text .sub-title {
  color: #ffffff;
}
#header-page .skyline .cover {
  background-color: rgba(26, 188, 156, 0);
}
/* #header-page */
/* BOX MAPS
================================== */
.ads-maps {
  /* .img-container */
}
.ads-maps .img-container {
  /* .title */
}
.ads-maps .img-container .title {
  background-color: rgba(26, 188, 156, 0.9);
  color: #ffffff;
}
.ads-maps .img-container .title:after,
.ads-maps .img-container .title:before {
  background-color: #148f77;
}
.ads-maps .img-container .title:hover {
  background-color: rgba(26, 188, 156, 0.9);
}
.ads-maps .price {
  color: #ffffff;
  background-color: rgba(26, 188, 156, 0.8);
}
/* .ads-maps */
/* GENERIC BOX
================================== */
.box-ads .title {
  border-bottom-color: #1abc9c;
}
.box-ads .price {
  background-color: #1abc9c;
  color: #ffffff;
}
.box-ads .price:after {
  border-bottom-color: #1abc9c;
}
/* .box-ads */
/* BOX LIST
================================== */
.box-ads {
  /* &.box-list */
}
.box-ads.box-list .image:after {
  border-left-color: #1abc9c;
}
/* .box-ads */
/* MINI BOX GRID
================================== */
.box-ads {
  /* &.box-grid */
}
.box-ads.box-grid {
  /* &.mini */
}
.box-ads.box-grid.mini .price {
  border-top-color: #1abc9c;
}
.box-ads.box-grid.mini .price:after {
  border-bottom-color: #1abc9c;
}
/* .box-ads */
/* SLIDE BOX HOME
================================== */
.box-property-slide {
  color: #ffffff;
  /* left-block */
}
.box-property-slide .left-block,
.box-property-slide .right-block {
  background-color: rgba(26, 188, 156, 0.7);
}
.box-property-slide .left-block {
  /* .detail */
}
.box-property-slide .left-block:after {
  border-left: 20px solid rgba(26, 188, 156, 0.7);
  border-top: 20px solid rgba(26, 188, 156, 0);
  border-bottom: 20px solid rgba(26, 188, 156, 0);
}
.box-property-slide .left-block .price {
  background-color: #148f77;
  color: #ffffff;
}
.box-property-slide .left-block .detail dd span {
  background-color: rgba(20, 143, 119, 0.3);
  border: 1px solid rgba(20, 143, 119, 0.9);
}
/* .box-property-slide */
/* CAROUSEL BOX
================================== */
.property-carousel-box {
  /* content */
}
.property-carousel-box .content .price span {
  background-color: #1abc9c;
  color: #ffffff;
}
.property-carousel-box .content .price span:after {
  border-left-color: #1abc9c;
}
/* property-carousel-box */
/* BUTTON ADD PROPERTY
================================== */
#add-property:hover {
  color: #ffffff;
  background-color: #148f77;
}
/* #add-property */
/* MAPS
================================== */
#maps {
  /* .loading-container */
}
#maps .find-result {
  background-color: rgba(20, 143, 119, 0.8);
  color: #ffffff;
}
#maps .find-result:after {
  background-color: rgba(14, 98, 82, 0.8);
}
#maps .loading-container .spinner {
  background-color: #28e1bd;
}
#maps .control-left-wrapper div:after,
#maps .control-right-wrapper div:after {
  background-color: #148f77;
  border-color: #0e6252;
  color: #ffffff;
}
/* #maps */
/* NAVBAR
================================== */
nav li.has_submenu:hover > a,
nav a:hover {
  background-color: #1abc9c;
  color: #ffffff;
}
nav ul ul {
  border-top-color: #1abc9c;
}
/* MODAL
================================== */
.modal-dialog {
  /* .login-button-container */
  /* .form-container */
}
.modal-dialog .login-button-container {
  background-color: #1abc9c;
  border-right-color: #0e6252;
  /* a */
}
.modal-dialog .login-button-container a {
  color: #ffffff;
}
.modal-dialog .login-button-container a.active {
  color: #1abc9c;
  border-color: #0e6252;
}
.modal-dialog .login-button-container a:hover {
  background-color: #0e6252;
}
.modal-dialog .form-container {
  /* .object-contact */
}
.modal-dialog .form-container a {
  color: #1abc9c;
}
.modal-dialog .form-container .object-contact li a:hover,
.modal-dialog .form-container .object-contact li a.active {
  background-color: #1abc9c;
  color: #ffffff;
}
.modal-dialog .form-container .object-contact li a.active:after {
  border-top-color: #1abc9c;
}
/* .modal-dialog */
/* STANDARD HEADER / NAV
================================== */
.info {
  background-color: #1abc9c;
}
.info a {
  border-right-color: #18aa8d;
  border-left-color: #18aa8d;
  color: #FFF !important;
}
.info a:hover {
  background-color: #17a689;
}
/* MENU COLOR LOGO
================================== */
.menu-color-line .info a {
  border-color: #28e1bd;
}
/* .menu-color-line */
/* UI SPINNER STYLE
================================== */
.ui-spinner .ui-spinner-input {
  color: #ffffff;
}
.ui-spinner .ui-spinner-input:focus {
  color: #ffffff;
}
.ui-spinner a.ui-spinner-up:hover:after,
.ui-spinner a.ui-spinner-down:hover:after,
.ui-spinner a.ui-spinner-up:focus:after,
.ui-spinner a.ui-spinner-down:focus:after,
.ui-spinner a.ui-spinner-up:hover:before,
.ui-spinner a.ui-spinner-down:hover:before,
.ui-spinner a.ui-spinner-up:focus:before,
.ui-spinner a.ui-spinner-down:focus:before {
  color: #0e6252;
}
/* .ui-spinner */
/* SLIDER PAGE
================================== */
.slider-page {
  /* .slider-box */
  /* .slider-page-nav */
}
.slider-page .slider-box .content h2 {
  background-color: #148f77;
  color: #ffffff;
}
.slider-page .slider-page-nav a {
  background-color: #1abc9c;
}
/* .slider-page */
/* SLIDER
================================== */
.home-slider {
  border-bottom-color: #1abc9c;
  /* .content */
  /* .home-slider-nav */
}
.home-slider .content h1,
.home-slider .content h2,
.home-slider .content h3 {
  color: #ffffff;
}
.home-slider .content h1 {
  border-bottom-color: #1abc9c;
}
.home-slider .home-slider-nav a:hover {
  background-color: rgba(26, 188, 156, 0.6) !important;
}
/* .home-slider */
/* SECTION
================================== */
.section-color {
  background-color: #1abc9c;
}
.section-color:after {
  border-top-color: #1abc9c;
}
/* .section-color */
/* SERCHER BOX
================================== */
#search-box {
  /* .search-container */
}
#search-box .search-container {
  /* .search-options */
  /* SIMPLE PAGE SERCHER */
  /* &.sample-page */
}
#search-box .search-container .search-options .botton-options-inactive,
#search-box .search-container .search-options .botton-options {
  color: #ffffff;
  background-color: rgba(20, 143, 119, 0.8);
}
#search-box .search-container .search-options .botton-options-inactive:hover,
#search-box .search-container .search-options .botton-options:hover {
  background-color: rgba(14, 98, 82, 0.9);
}
#search-box .search-container.sample-page .search-options .searcher .footer {
  background-color: #148f77;
  border-top-color: #148f77;
}
/* #search-box */
.ads-type {
  background-color: #1abc9c;
}
.ads-type a.item-type {
  background-color: #17a689;
  color: #ffffff;
  border-right-color: #19b898;
}
.ads-type a.item-type:hover {
  background-color: #169d82;
}
.ads-type a.item-type.item-selected {
  background-color: #148f77;
}
.ads-type .nav-box a {
  background-color: #18af91;
}
.ads-type .nav-box a:hover,
.ads-type .nav-box a:focus {
  background-color: #17a689;
}
.ads-type .nav-box .previous {
  border-color: #1bc5a3;
  border-right-color: #19b898;
}
.ads-type .nav-box .next {
  border-right-color: #1bc5a3;
}
/* .ads-type */
/* PROPERTY DETAIL PAGES
================================== */
#property-content {
  /* FEEDBACK
	================================== */
  /* .feedback */
  /* RATING
	================================== */
  /* DETAILS
	================================== */
}
#property-content .large-price ,
.property-content .large-price{
  background-color: #1abc9c;
  color: #FFF;
}
#property-content .feedback .user-feedback .vote {
  color: #1abc9c;
}
#property-content .rating .graphic .percent {
  background-color: #1abc9c;
}
#property-content .details .detail .fa-square {
  color: #1abc9c;
}
/* #property-content */
/* PAGINATION STYLE
================================== */
.pagination {
  /* > li */
}
.pagination > li {
  /* > a */
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a.active,
.pagination > li > a:hover i {
  background-color: #1abc9c;
}
/* .pagination */
/* FILTER TAGS
================================== */
#filter-box .filter {
  background-color: #1abc9c;
  color: #ffffff;
}
#filter-box .filter:hover {
  background-color: #1abc9c;
}
/* RECENT POST
================================== */
.recent-post .title {
  background-color: #1abc9c;
  color: #ffffff;
}
.recent-post .title:after {
  border-bottom-color: #1abc9c;
}
/* .recent-post */
/* FORM
================================== */
.form-large.grey-color {
  border-top-color: #1abc9c;
}
/* .form-large */
/* ALERT
================================== */
.alert {
  color: #ffffff;
}
/* .alert */
/* TABS
================================== */
.tabs {
  /* NORMAL BUTTON
	================================== */
  /* LINE BUTTON
	================================== */
  /* &.line */
}
.tabs .tab-button li.active a {
  background-color: #1abc9c;
  color: #ffffff;
}
.tabs .tab-button li.active a:hover {
  background-color: #1abc9c;
  color: #ffffff;
}
.tabs .tab-button a:hover {
  background-color: #1abc9c;
  color: #ffffff;
}
.tabs .tab-text {
  border-top-color: #1abc9c;
}
.tabs.line li.active a,
.tabs.line li.active a:hover {
  border-bottom-color: #1abc9c;
}
.tabs.line .tab-button a:hover {
  border-bottom-color: #1abc9c;
}
/* .tabs */
/* ACCORDION
================================== */
.toggle .title:after,
.accordion .title:after {
  border-top-color: #148f77;
}
.toggle .title.active:after,
.accordion .title.active:after {
  border-bottom-color: #148f77;
}
.toggle .text-container .footer,
.accordion .text-container .footer {
  color: #1abc9c;
}
.toggle .text-container .footer a:hover,
.accordion .text-container .footer a:hover,
.toggle .text-container .footer a:focus,
.accordion .text-container .footer a:focus {
  color: #1abc9c;
}
/* .toggle, .accordion */
/* MENU BLOCK
================================== */
.block-menu li a.active,
.block-menu li a:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
  border-right-color: #1abc9c;
  color: #ffffff;
}
.block-menu li a.active:after {
  border-left-color: #1abc9c;
}
/* .block-menu */
/* AGENT CARD
================================== */
.agent-box-card {
  /* .info-agent */
  /* TOP AGENT CARD
	================================== */
  /* &.top-agent */
}
.agent-box-card .image-content .image {
  border: 1px solid rgba(20, 143, 119, 0.7);
}
.agent-box-card .info-agent {
  background-color: rgba(20, 143, 119, 0.7);
}
.agent-box-card .info-agent:after {
  border-bottom: 16px solid rgba(20, 143, 119, 0.7);
}
.agent-box-card .info-agent .text {
  color: #ffffff;
}
.agent-box-card .info-agent .name {
  color: #ffffff;
}
.agent-box-card .info-agent .contact {
  border-top: 1px solid rgba(20, 143, 119, 0.7);
}
.agent-box-card .info-agent .contact li {
  border-right: 1px solid rgba(20, 143, 119, 0.7);
}
.agent-box-card .info-agent .contact li .icon {
  color: #ffffff;
}
.agent-box-card .info-agent .contact li .icon:hover {
  color: #148f77;
}
.agent-box-card.top-agent .image-content:after {
  color: #ffffff;
  background-color: rgba(20, 143, 119, 0.95);
}
.agent-box-card.top-agent .image-content:before {
  border-left: 16px solid rgba(20, 143, 119, 0.95);
}
/* .agent-box-card */
/* OBJECT SIDEBAR
================================== */
.button-sidebar {
  background-color: #1abc9c;
  border-color: #148f77;
  color: #ffffff;
}
.button-sidebar .icon {
  color: #ffffff;
}
/* .button-sidebar */
/* CALLOUT BOX
================================== */
.bs-callout {
  border-left-color: #1abc9c;
}
/* .bs-callout */
/* MORTGAGE CALC
================================== */
.mortgage-calculator-box .result-calc {
  background-color: #1abc9c;
  color: #ffffff;
}
/* SECTION TITLE
================================== */
.section-title {
  border-bottom-color: #1abc9c;
}
.section-title .title {
  background-color: #1abc9c;
  color: #ffffff;
}
.section-title.line-style .title {
  border-bottom-color: #1abc9c;
}
/* BOX TITLE STYLE (HOME+)
================================== */
.list-box-title {
  border-bottom-color: #1abc9c;
}
.list-box-title span {
  background-color: #1abc9c;
  color: #ffffff;
}
.list-box-section {
  background-color: #1abc9c;
  color: #ffffff;
}
/* LINK EFFECT
================================== */
.hover-effect {
  /* .cover */
  /* .cover-title */
}
.hover-effect .cover {
  background-color: rgba(26, 188, 156, 0.3);
}
.hover-effect .cover:before {
  color: #1abc9c;
}
.hover-effect .cover-title {
  background-color: rgba(26, 188, 156, 0.8);
  color: #ffffff;
}
/* .hover-effect */
/* ABOUT V2
================================== */
#about-us .director:before {
  border-top: 12px solid rgba(20, 143, 119, 0.7);
}
#about-us .team {
  color: #ffffff;
  border-top-color: #148f77;
  border-bottom-color: #148f77;
}
#about-us #counter {
  background-color: rgba(20, 143, 119, 0.7);
}
#about-us #counter:after {
  border-bottom: 12px solid rgba(20, 143, 119, 0.7);
}
/* #about-us */
/* AGENCY
================================== */
#agency {
  /* .agency-box */
}
#agency .agency-box .title a {
  color: #1abc9c;
}
#agency .agency-box .center-box {
  border-left-color: #1abc9c;
}
#agency .agency-box .center-box:after {
  border-right-color: #1abc9c;
}
#agency .agency-detail {
  border-left-color: #1abc9c;
}
#agency .agency-detail:after {
  border-right-color: #1abc9c;
}
/* #agency */
/* AGENT DETAIL
================================== */
#agent-page {
  /* .my-property */
}
#agent-page .my-property {
  /* .my-property-nav */
}
#agent-page .my-property .my-property-nav .button-container {
  border-top-color: #1abc9c;
}
#agent-page .my-property .my-property-nav a {
  background-color: #1abc9c;
}
#agent-page .my-property .my-property-nav a:hover {
  background-color: #148f77;
}
/* #agent-page */
/* BLOG LIST
================================== */
#blog {
  /* BLOG DETAILS
	============================== */
  /* .blog-list */
  /* #comments */
  /* CATEGORY BOX
	================================== */
  /* .category-list */
}
#blog .blog-list {
  /* BLOG LIST INLINE
		=========================== */
  /* &.post-line */
  /* .social */
}
#blog .blog-list.post-line .image {
  border-left-color: #1abc9c;
}
#blog .blog-list .image {
  border-right-color: #1abc9c;
}
#blog .blog-list .social .date {
  background-color: #1abc9c;
  color: #ffffff;
}
#blog .blog-list .social a:hover {
  background-color: #1bc5a3;
  color: #ffffff;
}
#blog .blog-list .subtitle {
  color: #1abc9c;
}
#blog #comments {
  /* .medialist */
}
#blog #comments .title-form span,
#blog #comments .title-comment span {
  background-color: #1abc9c;
  color: #ffffff;
}
#blog #comments .medialist .media-body .comment-line {
  border-left-color: #1abc9c;
}
#blog #comments .medialist .media-body .comment-line:after {
  border-right-color: #1abc9c;
}
#blog .blog-search .button-search:hover {
  color: #1abc9c;
}
#blog .category-list {
  /* li */
}
#blog .category-list li {
  /* &.active */
  /* &.active */
}
#blog .category-list li a:hover {
  border-left-color: #1abc9c;
}
#blog .category-list li a:hover:before {
  border-right-color: #1abc9c;
}
#blog .category-list li.active a {
  border-left-color: #1abc9c;
}
#blog .category-list li.active a:before {
  border-right-color: #1abc9c;
}
/* #blog */
/* CONTACT
================================== */
#contact {
  /* .info-top */
}
#contact .info-top {
  background-color: #1abc9c;
  color: #ffffff;
}
#contact .info-top:after {
  border-right-color: #1abc9c;
}
#contact .info-top a {
  color: #ffffff;
}
#contact .form-container {
  border-left-color: #1abc9c;
}
#contact .form-container:after {
  border-right-color: #1abc9c;
}
#contact .grey-box li .icon {
  color: #ffffff;
  background-color: #1abc9c;
}
/* #contact */
/* CREATE AGENCY
================================== */
#create-agency .map-box > span {
  background-color: #1abc9c;
  color: #ffffff;
}
#create-agency .map-box > span:after {
  border-bottom-color: #1abc9c;
}
/* #create-agency */
/* ERROR PAGES
================================== */
#error-page .title span {
  color: #1abc9c;
}
/* #error-page */
/* FAQ PAGES
================================== */
#faq .faq-container {
  border-top-color: #1abc9c;
}
/* #faq */
/* GALLERY
================================== */
#gallery #filter-container li a:hover,
#gallery #filter-container li a.active {
  border-color: #1abc9c;
  background: #1abc9c;
  color: #ffffff;
}
/* #gallery */
/* MY PROPERTY
================================== */
#user-profile {
  /* .property-list */
}
#user-profile .property-list {
  /* table */
}
#user-profile .property-list table thead {
  background-color: #1abc9c;
}
#user-profile .property-list table thead th {
  color: #ffffff;
}
#user-profile .property-list table thead th:nth-of-type(2n+1) {
  background-color: #1bc5a3;
}
/* #user-profile */
/* NEW PROPERTY
================================== */
#new-property .card-list li.active:after {
  background-color: #1abc9c;
}
#new-property #position {
  background-color: #1abc9c;
}
#new-property #position:after {
  border-bottom-color: #1abc9c;
}
/* #new-property */
/* PRICING
====================================== */
.pricing {
  /* .select-button */
  /* &.select */
}
.pricing .header {
  background-color: #1abc9c;
  color: #ffffff;
}
.pricing .select-button {
  border: 2px solid #148f77;
}
.pricing.select .select-button {
  color: #ffffff;
}
.pricing .price {
  border-bottom-color: #1abc9c;
}
.pricing .price:after {
  border-top-color: #1abc9c;
}
/* .pricing */
.pricing-table .table {
  border: 1px solid #1abc9c;
}
.pricing-table .table thead tr {
  background-color: #1abc9c;
  color: #ffffff;
}
.pricing-table .table > thead > tr > th:nth-of-type(2n+1) {
  background-color: #1bc5a3;
}
/* .pricing-table */
/* SHORTCODE
================================== */
#shortcode .shortcode-box .content-icon a:hover {
  background-color: #1abc9c;
  border-color: #148f77;
  color: #ffffff;
}
/* TIMELINE PAGE
================================== */
#timeline {
  /* .timeline-item */
  /* TIMELINE PAGE
	================================== */
}
#timeline .timeline-item {
  /* .timeline-content */
}
#timeline .timeline-item .timeline-icon {
  background: #1abc9c;
  color: #ffffff;
}
#timeline .timeline-item .timeline-icon:after {
  background-color: #1abc9c;
}
#timeline .timeline-item .timeline-content {
  /* &.right */
}
#timeline .timeline-item .timeline-content.right .orario {
  border-right-color: #148f77;
}
#timeline .timeline-item .timeline-content.right .orario:before {
  border-left-color: #148f77;
}
#timeline .timeline-item .timeline-content.right .title:before {
  border-right: 10px solid rgba(26, 188, 156, 0.9);
}
#timeline .timeline-item .timeline-content .edit-post {
  color: #ffffff;
}
#timeline .timeline-item .timeline-content .orario {
  background-color: #1abc9c;
  color: #ffffff;
  border-left-color: #148f77;
}
#timeline .timeline-item .timeline-content .orario:before {
  border-right-color: #148f77;
}
#timeline .timeline-item .timeline-content .title {
  background: rgba(26, 188, 156, 0.9);
  color: #ffffff;
}
#timeline .timeline-item .timeline-content .title:before {
  border-left: 10px solid rgba(26, 188, 156, 0.9);
}
#timeline.parallax .section-detail {
  color: #ffffff;
}
/* #timeline */
/* MEDIA SCREEN VERSION */
@media screen and (max-width: 768px) {
  #timeline {
    /* .timeline-item */
  }
  #timeline .timeline-item {
    /* .timeline-content */
  }
  #timeline .timeline-item .timeline-content .title:before {
    border-right: 10px solid rgba(26, 188, 156, 0.9);
  }
  #timeline .timeline-item .timeline-content.right .orario:after,
  #timeline .timeline-item .timeline-content.right .orario:before {
    border-bottom-color: #1abc9c;
  }
  #timeline .timeline-item .timeline-content .orario:after,
  #timeline .timeline-item .timeline-content .orario:before {
    border-bottom-color: #1abc9c;
  }
  /* #timeline */
}
/* @mediascreen */
/* COLOR OPTION DROPDOWN
===================================================*/
.dropdown .carat:after {
  border-top-color: #1abc9c;
}
.dropdown.open .carat {
  background-color: #1abc9c;
  border-left-color: #1abc9c;
}
.dropdown li.hover,
.dropdown li.focus,
.dropdown li.active {
  background-color: #1abc9c;
}
.dropdown.open {
  border-color: #1abc9c;
  -webkit-box-shadow: 0 0 0 4px rgba(85, 231, 202, 0.1);
  -moz-box-shadow: 0 0 0 4px rgba(85, 231, 202, 0.1);
  box-shadow: 0 0 0 4px rgba(85, 231, 202, 0.1);
}
/* SLIDER PRICE
===================================================*/
.price-slider.price #price-value-min::after,
.price-slider.price #price-value-max::after {
  border-left-color: #1abc9c;
}
.price-slider.price #price-value-max::after {
  border-right-color: #1abc9c;
}
.price-slider.price #price-value-min,
.price-slider.price #price-value-max {
  background-color: #1abc9c;
}
.noUi-connect {
  background-color: #28e1bd;
}
.noUi-horizontal .noUi-handle {
  background-color: #1abc9c;
}
/* LABELAUTY SCRIPT
=================================================== */
input.labelauty + label > span.labelauty-checked-image {
  background-color: #1abc9c;
  border-color: #148f77;
}
input.labelauty:hover + label > span.labelauty-checked-image {
  background-color: #148f77;
  border-color: #148f77;
}
/* DROPZONE
=================================================== */
.dropzone .dz-default.dz-message:after {
  color: #28e1bd;
}
/* DEATH TEXTAREA
=================================================== */
.controls .button-tootlbar:hover {
  background-color: #28e1bd;
}
/* FOTORAMA SLIDE
=================================================== */
.fotorama__arr {
  background-color: rgba(40, 225, 189, 0.8);
}
/* SKILL BAR
=================================================== */
.skillbar-bar {
  background-color: rgba(20, 143, 119, 0.5);
}
.skillbar-title {
  background-color: rgba(14, 98, 82, 0.9);
}
/* FLIPCLOCK
=================================================== */
.flip-clock-wrapper ul li a div div.inn,
.flip-clock-dot {
  background-color: #1abc9c;
}
/* EDITOR
=================================================== */
.editor.editor:hover,
.editor:focus {
  border-color: #1abc9c;
}
/* RESPONSIVE
=================================================== */
@media (max-width: 768px) {
  .info {
    background-color: rgba(26, 188, 156, 0.95);
  }
  /* AGENCY LISTING
	================================== */
  #agency .agency-box .logo {
    border-bottom-color: #1abc9c !important;
  }
  #agency address:after {
    border-bottom-color: #1abc9c;
  }
}
