/* 5.1.1 DOBLE CONTENIDO
====================================== */
.content-doublecolumn{
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 49% 49%;
    margin-bottom:2rem;
}

.content-doublecolumn div:nth-child(1){
    grid-row: left;
}
.content-doublecolumn div:nth-child(2){
    grid-row: right;
}
.content-doublecolumn .bs-callout{
    margin-right:1rem;
    margin-top:0rem;
}

@media (max-width: 700px) {
    .content-doublecolumn{
        grid-template-columns: 100%;
        grid-template-areas: "left" "right";
        margin-bottom:2rem;

    }
    
}

/* 5.1.2 Small
====================================== */
small.little{
    font-size: 1.5rem;
    margin-right: 1rem;
}


/* 5.1.3 VIDEO RESPONSIVE
====================================== */
.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* 5.1.4 Grids
====================================== */
.grid{
    display: flex;
    flex-wrap: wrap;   
}

/* 5.1.5 Imagenes y texto Hover
====================================== */
.hrefnovedad:hover .img-hover-zoom img {
    transform: scale(1.5);
    opacity: .5;
  }

  .text{
    transition: all .5s ease;
  }

  .hrefnovedad:hover .text {
    background: #ddd !important;
  }

/* 5.1.5 Imagenes Hover
====================================== */

/* 5.1.6 Mejoras CSS
====================================== */
.text ol,.text  ul {
    margin-left: -22px;
}

.text h4{
    border-bottom: 4px solid #1fb7a6;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
