/* 4.5 CONTACT
================================== */
#contact {
  padding-top: 70px;
  padding-bottom: 70px;
  /* .info-top */
  /* .form-contact */
}
#contact .section-detail {
  margin: 0;
}
#contact .map {
  border: 1px solid #E9E9E9;
  width: 100%;
  height: 300px;
}
#contact .map-large {
  border: 1px solid #E9E9E9;
  width: 100%;
  margin-top: 57px;
  height: 440px;
}
#contact .form-large {
  padding-top: 30px;
}
#contact .info-container {
  padding: 50px 20px 0 0;
}
#contact .info-container .clear-fix {
  clear: both;
  display: block;
}
#contact .info-top {
  position: relative;
  background-color: #1fb7a6;
  padding: 20px;
  margin-top: 57px;
  color: #ffffff;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#contact .info-top:after {
  position: absolute !important;
  top: 50px;
  right: auto;
  bottom: auto;
  left: -10px;
  z-index: 1;
  content: "";
  width: 0;
  height: 0;
  border-right: 10px solid #1fb7a6;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
#contact .info-top a {
  color: #ffffff;
}
#contact .info-top a:hover {
  color: #333;
}
#contact .info-top h1,
#contact .info-top h2 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px dotted #FFF;
}
#contact .info-top .grey-box {
  margin: 0 0 14px;
}
#contact .info-top .grey-box li {
  text-align: left;
  padding: 4px 0;
}
#contact .form-container {
  border-left: 3px solid #1fb7a6;
  position: relative;
  padding-left: 30px;
}
#contact .form-container:after {
  position: absolute !important;
  top: 56px;
  right: auto;
  bottom: auto;
  left: -14px;
  z-index: 1;
  content: "";
  width: 0;
  height: 0;
  border-right: 11px solid #1fb7a6;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}
#contact .info-container h1 {
  font-size: 24px;
  text-align: right;
}
#contact .info-container h2 {
  font-size: 18px;
  text-align: right;
  line-height: 1.3;
  font-weight: 400;
  padding-top: 30px;
  border-bottom: 1px dotted #e5e5e5;
  margin-bottom: 12px;
  margin-left: 30px;
}
#contact .grey-box {
  padding: 0;
  margin: 0;
  list-style: none;
}
#contact .grey-box li {
  padding: 3px 30px 3px 0;
  position: relative;
  text-align: right;
  font-size: 15px;
}
#contact .grey-box li .icon {
  padding-top: 3px;
  height: 22px;
  text-align: center;
  width: 22px;
  color: #ffffff;
  background-color: #1fb7a6;
  position: absolute !important;
  top: 2px;
  right: 0;
  bottom: auto;
  left: auto;
  z-index: 1;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#contact .form-contact textarea,
#contact .form-contact input {
  margin-bottom: 22px;
}
#contact .form-contact textarea {
  height: 200px;
}
#contact .form-contact .text-privacy {
  font-size: 14px;
  color: #aaa;
  background-color: #f7f7f7;
  height: 60px;
}
#contact .form-contact label {
  font-weight: 200;
}
/* #contact */
.header-map {
  height: 450px; /****** 250 ****/
  border-bottom: 1px solid #E9E9E9;
}
